<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Artists</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="icon" href="/img/icon.png"/>
</head>
<body>
<nav>
    <div class="pages">
        <button onclick="location.href='/playlists';">Playlists</button>
        <button class="active">Artists</button>
    </div>
</nav>
<div class="artists">
    <table>
        <thead>
        <th>Artist name</th>
        <th>Monthly listeners</th>
        <th colspan="2">Actions</th>
        </thead>
        <tbody id="artist_table"></tbody>
    </table>
    <button onclick="location.href='/new/artist'" class="new">
        New
    </button>
</div>
<script>
    const load_data_pl = (items) => {
        const table = document.getElementById("artist_table");
        items.forEach((item) => {
            let row = table.insertRow();
            let name = row.insertCell(0);
            name.innerHTML = "<a href='/artist/" + item.name + "'>" + item.name + "</a>";
            let count = row.insertCell(1);
            count.innerHTML = item.count;
            let edit = row.insertCell(2);
            let del = row.insertCell(3);
            edit.innerHTML = "<a href='/new/artist'/>Edit";
            del.innerHTML = "<a href='#'/>Delete";
        });
    };
    fetch("./table_data/artists.json")
        .then((resp) => {
            return resp.json();
        })
        .then((data) => load_data_pl(data));
</script>
</body>
</html>
