<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title><%= 'Playlist | ' + (typeof title !== 'undefined' ? title : '') %></title>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="icon" href="/assets/img/icon.png"/>
</head>
<body>