<%- include("header", {title : "Main"})%>
<nav>
    <div class="pages">
        <button onclick="location.href='/playlists';">Playlists</button>
        <button onclick="location.href='/artists';">Artists</button>
    </div>
    <%//trigger theme_switch javascript when clicked%>
    <div class="theme-switch">
        <button onclick="location.href='/theme/dark';">Dark</button>
        <button onclick="location.href='/theme/light';">Light</button>
    </div>
    <button onclick="location.href='/registration'">Register</button>
</nav>
<div class="login-form form">
    <form method="POST">
        <% if (typeof error !== "undefined") { %>
            <h2 class="error"><%= error %></h2>
        <% }  %>
        <input
                name="username"
                id="username"
                placeholder="Username"
                type="text"
        />
        <input
                name="password"
                id="password"
                placeholder="Password"
                type="password"
        />
        <button type="submit">Login</button>
    </form>
</div>
<%- include("footer")%>
