<%- include("header", {title: "New artist" })%>
<nav>
    <div class="pages">
        <button onclick="location.href='/playlists';">Playlists</button>
        <button onclick="location.href='/artists';">Artists</button>
    </div>
    <button onclick="location.href='/logout'">Logout</button>
</nav>
<div class="new_edit form">
    <form method="post">
        <input
                name="ar_name"
                type="text"
                value="<%= typeof artist !== "undefined" ? artist.name : "" %>"
                placeholder="Artist name"
        />
        <input
                name="m_lis"
                type="text"
                value="<%= typeof artist !== "undefined" ? artist.ml : "" %>"
                placeholder="Monthly listeners"
        />
        <button type="submit">Save</button>
    </form>
</div>
<%- include("footer")%>
