<%- include("header", {title: "New playlist" })%>
<nav>
    <div class="pages">
        <button onclick="location.href='/playlists';">Playlists</button>
        <button onclick="location.href='/artists';">Artists</button>
    </div>
    <button onclick="location.href='/logout'">Logout</button>
</nav>
<div class="new_edit form">
    <form method="post">
        <input
                name="pl_name"
                type="text"
                value="<%= typeof playlist !== "undefined" ? playlist.name : "" %>"
                placeholder="Playlist name"
        />
        <button type="submit">Save</button>
    </form>
</div>
<%- include("footer")%>
