<%- include("header", {title: "Registration" })%>
<nav>
    <div class="pages">
        <button onclick="location.href='/playlists';">Playlists</button>
        <button onclick="location.href='/artists';">Artists</button>
    </div>
    <%//%>
    <button onclick="location.href='/'">Login</button>
</nav>
<div class="login-form form">
    <form method="POST">
        <% if (typeof error !== "undefined") { %>
            <h2 class="error"><%= error %></h2>
        <% }  %>
        <input
                name="username"
                id="username"
                type="text"
                placeholder="Username"
        />
        <input
                name="password"
                id="password"
                type="password"
                placeholder="Password"
        />
        <button type="submit">Register</button>
    </form>
</div>
<%- include("footer")%>
