@font-face {
	font-family: "Kontanter";
	src: url("./fonts/Kontanter-Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Fredoka-light";
	src: url("./fonts/Fredoka-light.ttf") format("truetype");
}
:root {
	--font-main: "Kontanter";
	--font-input: "Fredoka-light";
	--color-main: #efefef;
}
html {
	height: 100%;
}
body {
	background-color: var(--color-main);
	height: 100%;
}
nav {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	width: auto;
}
nav .pages {
	display: inline-flex;
	gap: 2em;
}
button {
	font-family: var(--font-main);
	font-size: xx-large;
	margin: 0;
	border: none;
	background-color: var(--color-main);
	border-radius: 0.3em;
	box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
		-6px -6px 10px rgba(255, 255, 255, 0.5),
		6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
	color: rgb(43, 43, 43);
	padding: 5px 15px;
	text-decoration: none;
	cursor: pointer;
	transition: 300ms ease-in-out;
}
button:hover {
	color: rgb(108, 180, 159);
	background-color: #dfdfdf;
	box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
		-2px -2px 4px rgba(255, 255, 255, 0.4),
		2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
button:active {
	color: rgb(75, 128, 112);
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
		inset -2px -2px 4px rgba(255, 255, 255, 0.5),
		inset 2px 2px 2px rgba(255, 255, 255, 0.075),
		inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.active {
	color: rgb(75, 128, 112);
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
		inset -2px -2px 4px rgba(255, 255, 255, 0.5),
		inset 2px 2px 2px rgba(255, 255, 255, 0.075),
		inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.active:hover {
	color: rgb(75, 128, 112);
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
		inset -2px -2px 4px rgba(255, 255, 255, 0.5),
		inset 2px 2px 2px rgba(255, 255, 255, 0.075),
		inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.form {
	height: 100%;
}
.form form {
	position: relative;
	top: 40%;
	transform: translateY(-40%);
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 2em;
}
.form form input,
.form form button {
	justify-content: center;
	width: 230px;
}
.form form input {
	font-family: var(--font-input);
	font-size: medium;
	font-weight: 500;
	border: 0;
	outline: 0;
	height: 2.5em;
	background-color: var(--color-main);
	text-align: center;
	border-radius: 320px;
	margin-right: 8px;
	box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	appearance: none;
}
.form form input:focus {
	box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.playlists,
.artists,
.songs {
	padding-top: 2em;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.songs .label {
	font-family: var(--font-input);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 70%;
}
table {
	font-family: var(--font-input);
	text-align: center;
	font-size: large;
	font-weight: 300;
	width: 70%;
	border-radius: 15px;
	border: 2px solid #000;
}
th,
td {
	padding: 1em;
}
th[colspan]:not([colspan="1"]) {
	text-align: center;
}
.playlists,
.artists,
.songs {
	row-gap: 2em;
}
