<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Datapack gen</title>
		<link rel="stylesheet" href="./static/css/style.css" />
	</head>
	<body>
		<nav>
			<div class="pages">
				<button onclick="location.href='/playlists';">Playlists</button>
				<button onclick="location.href='/artists';">Artists</button>
			</div>
			<button>Register</button>
		</nav>
		<div class="login-form">
			<input
				title="usr"
				type="text"
				alt="username"
				placeholder="Username"
			/>
			<input
				title="psswrd"
				type="password"
				alt="password"
				placeholder="Password"
			/>
			<button>Login</button>
		</div>
	</body>
</html>
