<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Playlists</title>
		<link rel="stylesheet" href="./static/css/style.css" />
		<link rel="icon" href="./static/img/icon.png" />
	</head>
	<body>
		<nav>
			<div class="pages">
				<button class="active">Playlists</button>
				<button onclick="location.href='/artists';">Artists</button>
			</div>
		</nav>
		<div class="playlists">
			<table>
				<tr>
					<th>Playlist name</th>
					<th>Created by</th>
					<th>Date created</th>
					<th>Actions</th>
				</tr>
				<tr>
					<td>Alma</td>
					<td>User</td>
					<td>1234</td>
					<td>action</td>
				</tr>
			</table>
		</div>
	</body>
</html>
